.categories-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin: 3rem auto;
}

.categories-cards .card {
    width: 312px;
    height: 288px;
    border-radius: 16px;
    background-color: var(--background-secondary-color);

    text-decoration: none;
    color: var(--text-primary-color);
    font-weight: var(--title-weight);
    font-size: 1.5rem;
    
    box-sizing: border-box;
    padding: 2.5rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.categories-cards .card img {
    height: 62px;
    width: auto;
}

@media screen and (min-width: 1024px)
 {
    .categories-cards {
        padding: 0 2rem;
    }
 }

 @media screen and (min-width: 1280px)
 {
    .categories-cards .card {
        width: 270px;
        height: 270px;
    }
 }