.categories .card {
    width: 312px;
    height: 220px;
    border-radius: 8px;
    background-color: var(--background-secondary-color);

    text-decoration: none;
    color: var(--text-primary-color);
    font-weight: var(--title-weight);
    font-size: 1.5rem;
}

.categories .card img {
    height: auto;
    width: 58px;
}


 @media screen and (min-width: 1280px)
 {
    .categories .section-cards .card {
        width: 270px;
        height: 270px;
    }
 }