.destinies .card {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    width: 100%;
    text-align: start;
    padding: 0;
}

.destinies .card img {
    width: 100%;
    height: 360px;
}

.destinies-image__tablet-desktop {
    display: none;
}

@media screen and (min-width: 768px) {    
    .destinies .section-cards .card img {
        height: 452px;
        width: 100%;
    }

    .destinies-image__mobile {
        display: none;
    }

    .destinies-image__tablet-desktop {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .destinies .section-cards .card {
        max-width: 568px;
    }
}