.destinies .card {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    width: 100%;
    text-align: start;
    padding: 0;
}

.destinies .card img {
    width: 100%;
    height: 360px;
}

.destinies .card h4 {
    font-size: 1.75rem;
    font-weight: var(--title-weight);
}

.destinies .card p {
    font-size: 1.25rem;
    font-weight: var(--text-weight);
}

.destinies-image__tablet-desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    .destinies {
        padding: 0 60px;
    }
    
    .destinies .section-cards .card img {
        height: 452px;
        width: 100%;
    }

    .destinies .section-cards .card {
        max-width: 588px;
    }

    .destinies-image__mobile {
        display: none;
    }

    .destinies-image__tablet-desktop {
        display: block;
    }
}