@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-display: swap;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-primary-color: #fff;
  --background-secondary-color: #f5f5f5;
  --background-terciary-color: #000;

  --accent-primary-color: #8f0101;
  --accent-secondary-color: #b81515;

  --text-primary-color: #222;
  --text-secondary-color: #fff;

  --font-family-primary: "Montserrat", sans-serif;
  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

body {
    font-family: var(--font-family-primary);
    background-color: var(--background-primary-color);
    color: var(--text-primary-color);
    
    width: 100vw;
    height: auto;
}

html {
    font-size: 16px;
}

section:not(.hero) {
    margin: 0 auto 88px;
    padding: 0 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.title-container {
    text-align: center;
    margin: 0 auto 32px;
    width: 290px;
}

.title-container h2 {
    font-size: 2rem;
    font-weight: var(--title-weight);
}

.title-container hr {
    width: 180px;
    height: 4px;
    border: none;
    background-color: var(--accent-primary-color);
    margin: 16px auto 0;
}

.section-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
} 

.section-cards .card {
    box-sizing: border-box;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.25rem;
}

.button {
    width: 280px;
    height: 64px;
    color: var(--text-secondary-color);
    font-weight: var(--title-weight);
    font-size: 1.25rem;
    background-color: var(--accent-secondary-color);
    border-radius: 16px;

    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 64px;
}

.content-title {
    font-size: 1.75rem;
    font-weight: var(--title-weight);
}

.content-text {
    font-size: 1.25rem;
    font-weight: var(--text-weight);
}

@media screen and (min-width: 768px) {
  .title-container {
        width: auto;
    }  
  
  .title-container h2 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .button:hover {
        background-color: var(--accent-primary-color);
    }
  }

  
@media screen and (min-width: 1440px) {
    .section-cards {
        max-width: 1200px;
        margin: 0 auto;
    }
}