@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-display: swap;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-primary-color: #fff;
  --background-secondary-color: #f5f5f5;
  --background-terciary-color: #000;

  --accent-primary-color: #8f0101;
  --accent-secondary-color: #b81515;

  --text-primary-color: #222;
  --text-secondary-color: #fff;

  --font-family-primary: "Montserrat", sans-serif;
  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

body {
    font-family: var(--font-family-primary);
    background-color: var(--background-primary-color);
    color: var(--text-primary-color);
    
    width: 100vw;
    height: auto;
}

html {
    font-size: 16px;
}