header {
    background-color: var(--background-terciary-color);
    width: 100%;
    padding: 2.25rem 1.5rem;

    position: relative;
}

.header-content {
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-desktop {
    display: none;
}

.logo-mobile {
    display: block;
    width: 68px;
    height: 64px;
}

.menu-lista {
    display: none;
}

.menu-lista li {
    list-style: none;
    width: 100%;
}

.menu-lista li a {
    text-decoration: none;
    color: var(--text-secondary-color);
    font-size: 1rem;
}

#menuToggle {
    display: none;
}

#menuToggle:checked ~ .menu-lista {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: var(--background-terciary-color);
}