.hero-img {
    height: 400px;
    width: 100%;
    background: url(../assets/hero-mobile.jpg) no-repeat center;
    background-size: cover;
}

.hero h2 {
    padding: 5.5rem 1.5rem;
    font-size: 1.25rem;
    text-align: center;
    font-weight: var(--text-weight);
    line-height: 1.5;
}