.offers .card {
    text-align: center;
    width: 312px;
    height: 288px;
    border-radius: 16px;
    color: var(--text-secondary-color);
    box-sizing: border-box;

    position: relative;
}

.offers .card .sombra {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 0;
}

.offers .card header {
    display: block;
    background: transparent;
    padding: 0;
}

.offers-card header p {
    font-size: 1.25rem;
    font-weight: var(--text-weight);
}

.offers .card h3 {
    font-size: 2.5rem;
    font-weight: var(--title-weight);
    margin: 8px 0px 0px;
    z-index: 1;
}

.offers .card footer {
    z-index: 1;
}

.offers .card span {
    font-size: 2rem;
    margin-top: 16px;
    display: inline-block;
}

.offers .card.japao {
    background: url(../assets/bg-card-japao.jpg) no-repeat center/cover;
}

.offers .card.san-andreas {
    background: url(../assets/bg-card-san-andreas.jpg) no-repeat center/cover;
}

.offers .card.manaus {
    background: url(../assets/bg-card-manaus.jpg) no-repeat center/cover;
}

.offers .card.paraiba {
    background: url(../assets/bg-card-paraiba.jpg) no-repeat center/cover;
}

@media screen and (min-width: 1024px) {
    .offers .section-cards .card {
        width: 420px;
        height: 308px;
    }

    .offers .card h3 {
        font-size: 2.75rem;
    }

    .offers .card span {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1280px) {
    .offers .section-cards .card {
        width: 588px;
    }

    .offers .section-cards {
        padding: 0;
    }
}