.offers {
    text-align: center;
}

.title-container h2 {
    font-size: 1.75rem;
    font-weight: var(--title-weight);
}

.title-container hr {
    width: 180px;
    height: 4px;
    border: none;
    background-color: var(--accent-primary-color);
    margin: 16px auto 36px;
}

.card {
    width: 312px;
    height: 288px;
    margin: 0 auto;
    border-radius: 16px;
    background-color: black;
    color: var(--text-secondary-color);
    box-sizing: border-box;
    padding: 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card header {
    display: block;
    background: transparent;
    padding: 0;
}

.card header p {
    font-size: 1.25rem;
    font-weight: var(--text-weight);
}

.card main h3 {
    font-size: 2.5rem;
    font-weight: var(--title-weight);
    margin: 8px 0px 0px;
}

.card main span {
    font-size: 2rem;
    margin-top: 16px;
    display: inline-block;
}

.button {
    width: 280px;
    height: 64px;
    color: var(--text-secondary-color);
    font-weight: var(--title-weight);
    font-size: 1.25rem;
    background-color: var(--accent-secondary-color);
    border-radius: 16px;

    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 64px;
}

@media screen and (min-width: 768px) {
    .title-container h2 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .button:hover {
        background-color: var(--accent-primary-color);
    }

    .card {
        width: 588px;
        height: 308px;
    }

    .card main h3 {
    font-size: 2.75rem;
}

    .card main span {
        font-size: 2.5rem;
    }
}